.app-form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
}

.submit-btn{
    background-color: transparent;

    outline: none;
    border: 2px solid #f39c12;
    height: 70px;
    padding: 0 2rem;
    width: 40%;
    margin-top: 20px;
    transition: all .4s;
    border-radius: 50px;

}

.submit-btn:hover{
    background-color: #f39c12;
}

.form-input{
    height: 70px;
    width: 100%;
    background-color: #53789cc0;
    border: none;
    outline: none;
    color: #fff;
    padding: 0 2rem;
    font-size: 1.1rem;

}

.form-input::placeholder{
    color: #fff;
    font-size: 1.1rem;
}