@import url('https://fonts.googleapis.com/css?family=Lato:300,400,500,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

body{
    background-color: #f4f6f6;
}
